body {
  margin: 0;
  overflow: hidden;
  width: 100%;
}

h1 {
  margin: 0;
}

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide.active {
  display: block;
}

ol#presentation {
  padding: 0;
  margin: 0;
}

ol#presentation > li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slide .buildin {
  visibility: hidden;
}

.slide .active {
  visibility: visible;
}

.slide .current {
  border: 1px solid black;
}

.slide > .notes {
  display: none;
}
