.transition_dissolve {
  opacity: 0;
  -moz-transition: opacity 1s ease;
  display: block;
}


.transition_dissolve.active {
    opacity: 1.0;
}

.transition_push {
  left: -100%; 
  -moz-transition: left 1s ease;
  z-index: 3;
}

.transition_push.active {
  left: 0%;
  z-index: 5; 
}

.transition_push.prev {
  left: 100%;
  z-index: 4;
  display: block;
}

.transition_push.next {
  left: -100%;
  z-index: 6;
  display: block;
}

