.transition_dissolve {
  opacity: 0;
  -moz-transition: opacity 1s ease;
  display: block;
}


.transition_dissolve:target {
    opacity: 1.0;
}

.slide.transition_push {
  height: 100%;
  width: 100%;
  display: block;
}


.slide.transition_slide {
  height: 50%;
  width: 50%;
  top: 25%;
  left: 25%;
  display: block;
  background-color: white;
  margin-left: 0%;
  z-index: 3;
  -moz-box-shadow: #244766 10px 10px 10px;
  font-size: 50%;
  -moz-transition: height 1s ease, width 1s ease, top 1s ease, width 1s ease, margin-left 1s ease, font-size 1s ease;
}

.slide.transition_slide.active {
  -moz-transition: height 1s ease 2s, width 1s ease 2s, top 1s ease 2s, width 1s ease 2s, margin-left 1s ease 2s, font-size 1s ease 2s;
  height: 100%;
  width: 100%;
  margin-left: -25%;
  top: 0%;
  z-index: 10;
  font-size: 100%;
}


